@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jost';
  src: local('Jost'), url(/fonts/Jost-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'OpticianSans';
  src: local('OpticianSans'), url(/fonts/Optiker-K.woff2) format('woff2');
}

/* @font-face {
  font-family: 'OpticianSans';
  src: local('OpticianSans'), url(/fonts/Optiker-K.woff) format('woff');
} */
